.card {
    box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 48vh;
    background-color: #2e2e2e;
}

.card img {
    width: 13vw;
}